# CODE ALPHA TASK 1 - Web Scraping

## Task Overview:
The internet is filled with excellent (and free) public datasets, but the ability to find and extract relevant data yourself is a crucial skill for any data analyst. Using Python, you can leverage tools like **BeautifulSoup** or **Scrapy** to crawl the web for valuable data.

In this task, we’ll use Python's `requests` and `BeautifulSoup` libraries to scrape data (book titles and prices) from a sample website: [books.toscrape.com](http://books.toscrape.com).

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
url = "http://books.toscrape.com/"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [6]:
titles = []
prices = []

books = soup.find_all("article", class_="product_pod")

for book in books:
    title = book.h3.a["title"]
    price = book.find("p", class_="price_color").text
    titles.append(title)
    prices.append(price)

In [7]:
df = pd.DataFrame({
    "Book Title": titles,
    "Price": prices
})
df.head()

                              Book Title   Price
0                   A Light in the Attic  £51.77
1                     Tipping the Velvet  £53.74
2                             Soumission  £50.10
3                          Sharp Objects  £47.82
4  Sapiens: A Brief History of Humankind  £54.23

In [8]:
df.to_csv("books_data.csv", index=False)
print("✅ Data saved to books_data.csv")

✅ Data saved to books_data.csv

## ✅ Conclusion

In this task, we successfully scraped book titles and prices from a live website using Python, stored the data in a CSV file, and visualized the price distribution.

> Web scraping is a powerful tool for any data analyst or Python enthusiast. With practice, you can extract structured data from almost any website and build custom datasets for analysis.